<nav>
    <div class="navbar">
        <div class="nav-logo">
            <img src="assets/Tsepang.jpg" class="img" alt="">
            <a href="">Tsepang Maseti</a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
            <div class="dropdown-content">
                <a href="" class="links">Home</a>
                <a routerLink="about" class="links">About</a>
                <a routerLink="projects" class="links">Projects</a>
                <a routerLink="services" class="links">Skills</a>
                <a routerLink="contact" class="links">Contact</a>
            </div>
        </div>
    </div>
</nav>