<div class="masthead">
    <div class="container">
        <div class="project">
            <div class="images">
                <img src="https://i.postimg.cc/9M53f54V/Untitled-design.jpg" alt="">
            </div>
            <div class="divider"></div>
            <div class="info">
                <div class="title">
                    <h2>FINE</h2>
                </div>
                <div class="content">
                    <p>
                        My main responsibilities on the project were to design the app using Figma and 
                        do the end-to-end development on the blog page and other various pages using Angular
                        2+, Bootstrap, NodeJS and MongoDB.
                    </p>
                </div>
            </div>
    
        </div>
        <div class="project">
            <div class="info">
                <div class="title">
                    <h2>Excluisve Nobzie SA</h2>
                </div>
                <div class="content">
                    <p>
                        Web design for an e-commerce store which could not go live on market due to the problems the company was facing
                    </p>
                </div>
            </div>
            <div class="images">
                <img src="assets\Nobzie\nobzie.png" alt="">
    
            </div>
        </div>
    </div>
</div>