<div class="masthead">
    <div class="container">
        <div class="div">
            <div class="info">
                <h1>What I Do Most</h1>
            </div>
            <div class="progress">
                <circle-progress [percent]="97" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    title="Html" [outerStrokeColor]="'#008080'" [innerStrokeColor]="'#C7E596'"
                    [backgroundColor]="'#5f9ea0'" [animation]="true" subtitle="97%"
                    [animationDuration]="300"></circle-progress>


                <circle-progress [percent]="86" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'" [innerStrokeColor]="'#C7E596'" [backgroundColor]="'#5f9ea0'"
                    [animation]="true" title="CSS" subtitle="86%" [animationDuration]="300"></circle-progress>


                <circle-progress [percent]="95" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'" [innerStrokeColor]="'#C7E596'" [backgroundColor]="'#5f9ea0'"
                    [animation]="true" title="JavaScript" subtitle="95%" [animationDuration]="300"></circle-progress>


                <circle-progress [percent]="90" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'" [innerStrokeColor]="'#C7E596'" [backgroundColor]="'#5f9ea0'"
                    [animation]="true" title="ANGULAR" subtitle="90%" [animationDuration]="300"></circle-progress>

                <circle-progress [percent]="70" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'" [innerStrokeColor]="'#C7E596'" [backgroundColor]="'#5f9ea0'"
                    [animation]="true" title="Python" subtitle="70%" [animationDuration]="300"></circle-progress>

                <circle-progress [percent]="49" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'" [innerStrokeColor]="'#C7E596'" [backgroundColor]="'#5f9ea0'"
                    [animation]="true" title="Kali Linux" subtitle="49%" [animationDuration]="300"></circle-progress>

            </div>
        </div>
        <div class="row">
            <div class="flip-card col-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.dribbble.com%2Fusers%2F66221%2Fscreenshots%2F1655593%2Fhtml5.png&f=1&nofb=1&ipt=a57966e14e6e69a7b5d87ec9c009264dbf875243f285550118abfd00d2ccd466&ipo=images"
                            alt="">
                        <p>HTML</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>HTML</h1>
                        <p>he HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser</p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.m5sPmHmc15KhZsq3bjwI3wHaHa%26pid%3DApi&f=1&ipt=f28aad1fb4c5e78acf5d6238fe104f351b658fae54dafe802ad47f3ca1dcc565&ipo=images"
                            alt="">
                        <p>CSS</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>CSS</h1>
                        <p>Cascading Style Sheets it describes how HTML elements are to be displayed on screen or other media
                            and saves a lot of work.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets\Skills\javascript.jpg" alt="">
                        <p>JavaScript</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>JavaScript</h1>
                        <p>Is a programming language that is one of the core technologies of the World Wide Web, 
                            alongside HTML and CSS.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcoder.clothing%2Fimages%2Fstories%2Fvirtuemart%2Fproduct%2Fangular-logo-stickers.jpg&f=1&nofb=1&ipt=096d463afc4b97edeca218ec0f5588af326df86a6173763205b86f56dd72af13&ipo=images"
                            alt="">
                        <p>Angular</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>John Doe</h1>
                        <p>Angular is a TypeScript-based free and open-source web application framework led by 
                            the Angular Team at Google and by a community of individuals.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.-7lTOZtRQwe1LHBuixcXpwHaEk%26pid%3DApi&f=1&ipt=72c3c85ce0622ffa4e66517f454bffe315b6d37c5a9a650ef635b6e36a64e541&ipo=images"
                            alt="">
                        <p>Ptython <br> Programming</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>Python</h1>
                        <p>Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.FwbJ8WvQjrXgPx3z4KlKHAHaHa%26pid%3DApi&f=1&ipt=e79317f5b5dbdf4ff1b1b13fd29bc1d71319ec0067b8fad7b1342f1c3c0eaaeb&ipo=images"
                            alt="">
                        <p>Figma</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>Figma</h1>
                        <p>It's a tool used to design the feeling, flow and the of an application</p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi1.wp.com%2Fwww.ethicalhackx.com%2Fwp-content%2Fuploads%2FKali-Logo.png%3Fresize%3D1920%2C1080&f=1&nofb=1&ipt=1a140031a5c3677f3740efe99c0617c9cad632ab44a44ba1acb9cdac79488c3c&ipo=images"
                            alt="">
                        <p>Kali Linux</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>John Doe</h1>
                        <p>Kali Linux is a Debian-derived Linux distribution designed for digital forensics and penetration testing.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-3">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.0BPhKLRK4Q_I88FyYBt7dAHaEo%26pid%3DApi&f=1&ipt=90e48f17ef9bb22ed8078a8bf4e7cf7c478ff02993b9b3d3a9cf0d0ab78864c5&ipo=images"
                            alt="">
                        <p>WordPress</p>
                    </div>
                    <div class="flip-card-back">
                        <h1>WordPress</h1>
                        <p>WordPress is a free and open-source content management system written in hypertext preprocessor language and paired with a MySQL or MariaDB database with supported HTTPS</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>