<div class="masthead">
    <div class="container">
        <div class="div">
            <div class="info">
                <h1>What I Do Most</h1>
            </div>
            <div class="progress">
                <circle-progress
                    [percent]="97"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    title="Html"
                    [outerStrokeColor]="'#008080'"
                    [innerStrokeColor]="'#C7E596'"
                    [backgroundColor]="'#5f9ea0'"
                    [animation]="true"
                    subtitle="97%"
                    [animationDuration]="300"
                    ></circle-progress>


                    <circle-progress
                    [percent]="86"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'"
                    [innerStrokeColor]="'#C7E596'"
                    [backgroundColor]="'#5f9ea0'"
                    [animation]="true"
                    subtitle="CSS"
                    [animationDuration]="300"
                    ></circle-progress>


                    <circle-progress
                    [percent]="95"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'"
                    [innerStrokeColor]="'#C7E596'"
                    [backgroundColor]="'#5f9ea0'"
                    [animation]="true"
                    subtitle="JavaScript"
                    [animationDuration]="300"
                    ></circle-progress>


                    <circle-progress
                    [percent]="90"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'"
                    [innerStrokeColor]="'#C7E596'"
                    [backgroundColor]="'#5f9ea0'"
                    [animation]="true"
                    subtitle="ANGULAR"
                    [animationDuration]="300"
                    ></circle-progress>

                    <circle-progress
                    [percent]="70"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'"
                    [innerStrokeColor]="'#C7E596'"
                    [backgroundColor]="'#5f9ea0'"
                    [animation]="true"
                    subtitle="Python"
                    [animationDuration]="300"
                    ></circle-progress>

                    <circle-progress
                    [percent]="49"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#008080'"
                    [innerStrokeColor]="'#C7E596'"
                    [backgroundColor]="'#5f9ea0'"
                    [animation]="true"
                    subtitle="Kali Linux"
                    [animationDuration]="300"
                    ></circle-progress>
                
            </div>
        </div>
        <div class="row">
            <div class="card col-3">
                <img src="https://i1.pnghost.com/4/23/21/pngdb-css-responsive-web-design-html-css3-world-wide-consortium-png-k5YCc72detEExukyubgmFi6EE_t.jpg" alt="">
                <p>HTML</p>
            </div>
            <div class="card col-3">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.m5sPmHmc15KhZsq3bjwI3wHaHa%26pid%3DApi&f=1&ipt=f28aad1fb4c5e78acf5d6238fe104f351b658fae54dafe802ad47f3ca1dcc565&ipo=images" alt="">
                <p>CSS</p>
            </div>
            <div class="card col-3">
                <img src="assets\Skills\javascript.jpg" alt="">
                <p>JavaScript</p>
            </div>

            <div class="card col-3">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcoder.clothing%2Fimages%2Fstories%2Fvirtuemart%2Fproduct%2Fangular-logo-stickers.jpg&f=1&nofb=1&ipt=096d463afc4b97edeca218ec0f5588af326df86a6173763205b86f56dd72af13&ipo=images" alt="">
                <p>Angular</p>
            </div>
            <div class="card col-3">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.-7lTOZtRQwe1LHBuixcXpwHaEk%26pid%3DApi&f=1&ipt=72c3c85ce0622ffa4e66517f454bffe315b6d37c5a9a650ef635b6e36a64e541&ipo=images" alt="">
                <p>Ptython <br> Programming</p>
            </div>
            <div class="card col-3">
                <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi1.wp.com%2Fwww.ethicalhackx.com%2Fwp-content%2Fuploads%2FKali-Logo.png%3Fresize%3D1920%2C1080&f=1&nofb=1&ipt=1a140031a5c3677f3740efe99c0617c9cad632ab44a44ba1acb9cdac79488c3c&ipo=images" alt="">
                <p>Kali Linux</p>
            </div>

            

        </div>
    </div>
</div>